:root {
  --primary-color: #100e3a;
  --secondary-color: #f26128;
  --light-blue: #262262;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.primary-color {
  color: var(--primary-color);
}

.bg-primary-color {
  background-color: var(--primary-color);
}

.secondary-color {
  color: var(--secondary-color);
}

.bg-secondary-color {
  background-color: var(--secondary-color);
}

.light-blue {
  color: var(--light-blue) !important;
}

.section-oradores{
  background-color: var(--primary-color);
}

.bg-light-blue {
  background-color: var(--light-blue);
}

.text-azul {
  color: var(--azul);
}

.text-sec--secondary-color {
  color: var(--secondary-color);
}

.text-cinza {
  color: var(--cinza);
}

.section-padding {
  padding: 80px 10px;
}

.heading-1 {
  font-size: 2.2rem;
  line-height: 3rem;
}

.heading-2 {
  font-size: 1.8rem;
  line-height: 2.1rem;
}

.heading-3 {
  font-size: 1.6em;
  line-height: 2.1rem;
}

.heading-4 {
  font-size: 1.5rem;
  line-height: 1.4rem;
}

.paragraph-1 {
  font-size: 16px;
  line-height: 24px;
}

.paragraph-2 {
  font-size: 15px;
  line-height: 22.5px;
}

.paragraph-3 {
  font-size: 14px;
  line-height: 21px;
}

.d-flex-column {
  display: flex;
  flex-direction: column;
}

.footer-top-border {
  border-top: 4px solid var(--secondary-color);
}

.footer-left-border {
  border-left: 1px solid var(--secondary-color);
  padding-left: 15px;
}

.title-bottom-border {
  width: 60px;
  margin-bottom: 15px;
  border-top: 1px solid var(--secondary-color);
}

.section-padding {
  padding: 100px 0;
}

.heading-1 {
  font-size: 35.2px;
  line-height: 48px;
  letter-spacing: normal;
}

.heading-2 {
  font-size: 28px;
  line-height: 33.6px;
  font-weight: Bold (700);
  letter-spacing: normal;
}

.heading-3 {
  font-size: 20px;
  line-height: 24px;
  font-weight: Bold (700);
  letter-spacing: normal;
}

.overlay-dark {
  background-color: rgba(0, 0, 0, 0.578);
}

/* BANNER DO INDEX 2024 */
.banner {
  background: url("../../img/2024/FORUM-COMARP_25-scaled.webp") no-repeat center
    center/cover;
}

.banner-box {
  width: 100%;
  max-width: 900px;
}



/* BANNER DO ABOUT US  */

/* Banner Responsivo */
.aboutus-banner {
  background: url("../img/aboutus/banner-about.webp") no-repeat center center/cover;
  min-height: 300px;
}

@media (min-width: 768px) {
  .aboutus-banner {
      min-height: 400px;
  }
}

.overlay-dark {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
}
/* Banner Sobre Nós */
.aboutus-banner {
  background: url("../../img/aboutus/banner-about.webp") no-repeat center
   center/cover;
  min-height: 300px;
}

.overlay-dark{
  height: 40vh;
  display: flex;
    justify-content: space-between;
    align-items: center;
}

.card{
  border-radius: 0px;
}


.card{
   background-color: var(--primary-color);
}

.card .card-body p{
  font-size: 14px;
}


.border-rights {
  border-right: 1px solid #ccc;
}





/* -------- Oradores -------- */
#oradores .oradores-img img{
	width: 200px;
	height: 200px;
	border-radius: 100%;
	object-fit: cover;
	object-position: top;
}

.membros-img img{
    width: 100px;
	height: 100px;
	border-radius: 100%;
	object-fit: cover;
	object-position: top;
	margin: 0 auto;
}

#oradores p{
    text-align: center !important;
}
#oradores .icon{
	width: 30px;
	height: 30px;
	border-radius: 100%;
	background: #fff;
	color: #100E3A;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 15px;
}
#oradores .icone{
	width: 30px;
	height: 30px;
	border-radius: 100%;
	background: #100e3a;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 15px;
}
#oradores .orador-border{
	border: #fff solid 3px;
	height: 2px;
	width: 40px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	margin-right: 20px;
	margin-top: 10px;
}
#oradores .orador-border-laranja{
	border: #f26128 solid 3px;
	height: 2px;
	width: 40px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	margin-right: 20px;
	margin-top: 10px;
}








#sobre p{
  text-align: justify;
}
#sobre .sobre-comarp{
position: relative;
}

#sobre .sobre-comarp-box-one,
#sobre .sobre-comarp-box-three{
border: 1px solid #262262;
width: 14vw;
height: 28vh;
}
#sobre .sobre-comarp-box-one{
position: absolute;
top: 3rem;
left: 0rem;
z-index: -1;
}
#sobre .sobre-comarp-box-three{
position: absolute;
top: 0rem;
right: 0rem;
z-index: -1;
}
#sobre .sobre-comarp-box-two{
position: relative;
top: 2.5vh;
margin: auto;
width: 30vw;
height: 30vh;
display: flex;
align-items: center;
z-index: 99;
}
#sobre .sobre-comarp-box-two img{
  width: 70% !important;
}
#sobre .comarp-icon{
width: 35%;
}
#sobre .comarp-icon img{
width: 80%;
}

.msv-box{
min-height: 230px;
background: linear-gradient(180deg, #100E3A 21.09%, #1E1E1E 198.35%);
}

.bg-gradiente{
background: linear-gradient(180deg, #100E3A 21.09%, #1E1E1E 198.35%);
color: #fff;
}

.border-rights{
border-right: 1px solid #ccc;
}

#escopo h1{
font-weight: 900;
font-size: 8rem;
color: #0000000D;
}

#escopo h4{
position: relative;
top: -9vh;
}


/* blog */
.card-body h5{
  color: var(--primary-color);
  margin-bottom: 15px;

}